<h1>Download Cards</h1>
<h2>Present</h2>
<p>Currently working on a coupon code system with Ruby on Rails, HAML, and SASS to allow offer free song downloads to fans. Artists can offer fans download cards at concerts that contain a code that can be redeemed for a free song online.</p> 

<h1>Sharepoint 2010 Development</h1>
<h2>May 2011 - September 2011</h2>
<p>Created a job lookup page using C# and ASP.NET allowing users to view job cost codes from within the SharePoint environment. This page was integrated with the company's database (SQL Server 2010) and took full advantage of Microsoft's AJAX toolkit.</p>

<h1>MapGuide Development</h1>
<h2>May 2011 - September 2011</h2>
<p>Used <%= link_to "OSGeo's MapGuide", "http://mapguide.osgeo.org/"%> and PHP to create a custom map showing transformer and meter load information pulled from a database.</p>

<h1>Telerik Controls</h1>
<h2>May 2011 - September 2011</h2>
<p>Had the oppertunity to use various ASP controls from Telerik while at Essex Energy.</p>

<h1>Spacebook</h1>
<h2>April 2011</h2>
<p>Created <%= link_to "Spacebook", "http://code.google.com/p/spacebook/"%> with a group of students as a class project using Java technologies (JSP, JSTL).

<h1>Cozmos Soulvaki</h1>
<h2>September 2010</h2>
<p>Contracted to design a website for <%= link_to "Cozmos Soulvaki", "http://cozmossouvlaki.com/index.php"%>, a Greek restaurant in Ottawa, Ontario.</p>
